h1 { border-bottom-style: inset;}
h5 { font-style: italic;}
pre { font-style: italic; font-size: 1.1em;}
figure {display: inline-block; font-size: 0.7em; margin: 5px; border: 1px dashed gray;}
img.poltrona { width: 24px; height: 16px;}
.entre-letras {letter-spacing: 0.5em;}
#divPalco {
    min-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.col-sm-9 { border: 1px solid red}
